# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [2]:
pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.7.0)

In [ ]:
pip install dnspython

Requirement already satisfied: dnspython in /usr/local/lib/python3.10/dist-packages (2.7.0)

In [3]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://ferdimaulanaikhsan14:lYV7f6lYFdnBI1Vb@bigdata.r7svr.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [ ]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data

#insert satu dokumen kek gini
employee_data2 = {
    'name': 'Maulana',
    'department': 'TI',
    'age': 20,
    'salary': 10000
}

collection.insert_one(employee_data2)
print('Data inserted')

Data inserted
Data inserted

In [ ]:
#insert banyak data
employee_data3 = [
    {'name': 'Kumar', 'department': 'Finance', 'age': 29, 'salary': 4500},
    {'name': 'Rendy', 'department': 'TI', 'age': 23, 'salary': 9500}
]

collection.insert_many(employee_data3)
print('Data inserted')

In [ ]:
#Update data kumar
collection.update_one(
  {'name': 'Kumar'},
  {'$set': {'salary': 5000}}
)

print('Data updated')

In [ ]:
#Delete Data
collection.delete_one({'name': 'Alice'})

print('Data dihapus')

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('67220207c7f5938ead6a5a9e'), 'name': 'Maulana', 'department': 'TI', 'age': 20, 'salary': 10000}
{'_id': ObjectId('6722034fc7f5938ead6a5a9f'), 'name': 'Kumar', 'department': 'Finance', 'age': 29, 'salary': 5000}
{'_id': ObjectId('6722034fc7f5938ead6a5aa0'), 'name': 'Rendy', 'department': 'TI', 'age': 23, 'salary': 9500}

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 5000.0}
{'_id': 'TI', 'average_salary': 9750.0}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).
- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [ ]:
#Latihan 4.1 Buat koleksi baru dan memasukkan data produk

pcollection = db['product']
print('Data Product berhasil dibuat')

product_data = [
    {'nama': 'laptop', 'kategori': 'elektronik', 'harga': 3000000},
    {'nama': 'hp', 'kategori': 'elektronik', 'harga': 2000000},
    {'nama': 'lampu', 'kategori': 'elektronik', 'harga': 50000},
    {'nama': 'meja', 'kategori': 'furnitur', 'harga': 200000},
    {'nama': 'kursi', 'kategori': 'furnitur', 'harga': 100000},
    {'nama': 'kasur', 'kategori': 'furnitur', 'harga': 500000},
    {'nama': 'baju', 'kategori': 'pakaian', 'harga': 50000},
    {'nama': 'celana', 'kategori': 'pakaian', 'harga': 100000},
    {'nama': 'sepatu', 'kategori': 'pakaian', 'harga': 200000},
    {'nama': 'kacamata', 'kategori': 'aksesoris', 'harga': 50000}
]

pcollection.insert_many(product_data)
print('Data Product berhasil dimasukkan')

Data Product berhasil dibuat
Data Product berhasil dimasukkan

In [ ]:
#Latihan 4.2 Query untuk menemukan produk dengan harga di atas rata

rerata_harga = pcollection.aggregate([{'$group': {'_id': None, 'rata_rata_harga': {'$avg': '$harga'}}}])
ratarata_harga = next(rerata_harga)['rata_rata_harga']
print(f"Rata-rata harga: {ratarata_harga}")

for product in pcollection.find({'harga': {'$gt': ratarata_harga}}):
    print(product)

Rata-rata harga: 625000.0
{'_id': ObjectId('672a45cd4701007416e8fa8a'), 'nama': 'laptop', 'kategori': 'elektronik', 'harga': 3000000}
{'_id': ObjectId('672a45cd4701007416e8fa8b'), 'nama': 'hp', 'kategori': 'elektronik', 'harga': 2000000}

In [ ]:
# Latihan 4.3 Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

pipeline = [
    {'$group': {'_id': '$kategori', 'total_produk': {'$sum': 1}}}
]

for result in pcollection.aggregate(pipeline):
    print(result)

{'_id': 'aksesoris', 'total_produk': 1}
{'_id': 'pakaian', 'total_produk': 3}
{'_id': 'elektronik', 'total_produk': 3}
{'_id': 'furnitur', 'total_produk': 3}

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [9]:
employee_data = [
    {'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500},
    {'name': 'Bob', 'department': 'Finance', 'age': 35, 'salary': 6000},
    {'name': 'Charlie', 'department': 'Finance', 'age': 32, 'salary': 5000},
    {'name': 'David', 'department': 'Finance', 'age': 40, 'salary': 7000},
    {'name': 'Eva', 'department': 'Finance', 'age': 28, 'salary': 4800},
    {'name': 'Frank', 'department': 'IT', 'age': 26, 'salary': 9000},
    {'name': 'Grace', 'department': 'IT', 'age': 24, 'salary': 8500},
    {'name': 'Hank', 'department': 'IT', 'age': 30, 'salary': 8800},
    {'name': 'Ivy', 'department': 'IT', 'age': 27, 'salary': 9500},
    {'name': 'Jack', 'department': 'IT', 'age': 29, 'salary': 9200},
    {'name': 'Karen', 'department': 'HR', 'age': 33, 'salary': 5500},
    {'name': 'Leo', 'department': 'HR', 'age': 25, 'salary': 4800},
    {'name': 'Mona', 'department': 'HR', 'age': 31, 'salary': 5300},
    {'name': 'Nate', 'department': 'HR', 'age': 28, 'salary': 5000},
    {'name': 'Olivia', 'department': 'Marketing', 'age': 29, 'salary': 6700},
    {'name': 'Paul', 'department': 'Marketing', 'age': 35, 'salary': 7200},
    {'name': 'Quincy', 'department': 'Marketing', 'age': 34, 'salary': 6900},
    {'name': 'Rachel', 'department': 'Marketing', 'age': 27, 'salary': 6400},
    {'name': 'Sam', 'department': 'Sales', 'age': 29, 'salary': 7500},
    {'name': 'Tom', 'department': 'Sales', 'age': 30, 'salary': 7100},
    {'name': 'Uma', 'department': 'Sales', 'age': 26, 'salary': 7300},
    {'name': 'Vic', 'department': 'Sales', 'age': 32, 'salary': 7800},
    {'name': 'Wendy', 'department': 'Sales', 'age': 33, 'salary': 7600}
]

collection.insert_many(employee_data)
print('Data karyawan berhasil dimasukkan')

Data karyawan berhasil dimasukkan

In [6]:
#Tugas 1

pipeline = [
    {'$sort': {'salary': -1}},  # Mengurutkan berdasarkan gaji tertinggi
    {'$group': {
        '_id': '$department',
        'top_employees': {'$push': '$name'}
    }},
    {'$project': {
        '_id': 1,  # Departemen
        'top_employees': {'$slice': ['$top_employees', 5]}  # Ambil 5 karyawan teratas
    }}
]

for result in collection.aggregate(pipeline):
    print({'department': result['_id'], 'top_employees': result['top_employees']})

{'department': 'Sales', 'top_employees': ['Vic', 'Wendy', 'Sam', 'Uma', 'Tom']}
{'department': 'Finance', 'top_employees': ['David', 'Bob', 'Charlie', 'Eva', 'Alice']}
{'department': 'IT', 'top_employees': ['Ivy', 'Jack', 'Frank', 'Hank', 'Grace']}
{'department': 'HR', 'top_employees': ['Karen', 'Mona', 'Nate', 'Leo']}
{'department': 'Marketing', 'top_employees': ['Paul', 'Quincy', 'Olivia', 'Rachel']}

In [7]:
result = collection.delete_many({'age': {'$lt': 25}})
print(f'Data karyawan yang dihapus: {result.deleted_count}')

Data karyawan yang dihapus: 1

In [10]:
# Menemukan dan menampilkan data karyawan yang akan dihapus
to_delete = list(collection.find({'age': {'$lt': 25}}))
print("Data karyawan yang akan dihapus:")
for employee in to_delete:
    print(employee)

# Menghapus data karyawan yang berusia di bawah 25 tahun
result = collection.delete_many({'age': {'$lt': 25}})
print(f'\nTotal karyawan yang dihapus: {result.deleted_count}')

Data karyawan yang akan dihapus:
{'_id': ObjectId('672b427739223b56302a1eae'), 'name': 'Grace', 'department': 'IT', 'age': 24, 'salary': 8500}

Total karyawan yang dihapus: 1

In [11]:
#Tugas 3

pipeline = [
    {'$group': {
        '_id': '$department',
        'total_salary': {'$sum': '$salary'},
        'average_age': {'$avg': '$age'}
    }}
]

for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'IT', 'total_salary': 36500, 'average_age': 28.0}
{'_id': 'Marketing', 'total_salary': 27200, 'average_age': 31.25}
{'_id': 'Sales', 'total_salary': 37300, 'average_age': 30.0}
{'_id': 'Finance', 'total_salary': 27300, 'average_age': 32.8}
{'_id': 'HR', 'total_salary': 20600, 'average_age': 29.25}